<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- qppr previous: 3000 -->
  <xacro:macro name="diffbot_ros2_control" params="
    left_port:=/dev/serial/by-id/usb-Basicmicro_Inc._USB_Roboclaw_2x15A_lef-if00
    right_port:=/dev/serial/by-id/usb-Basicmicro_Inc._USB_Roboclaw_2x15A_righ-if00
    qppr:=538
    baud:=115200">

    <!-- Left RoboClaw: address 129 -->
    <ros2_control name="roboclaw_left" type="system">
      <hardware>
        <plugin>roboclaw_hardware_interface/RoboClawHardwareInterface</plugin>
        <param name="serial_port">${left_port}</param>
        <param name="serial_baud">${baud}</param>
      </hardware>

      <joint name="front_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <param name="address">129</param>
        <param name="motor_type">M1</param>
        <param name="qppr">${qppr}</param>
      </joint>

      <joint name="rear_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <param name="address">129</param>
        <param name="motor_type">M2</param>
        <param name="qppr">${qppr}</param>
      </joint>
    </ros2_control>

    <!-- Right RoboClaw: address 128 -->
    <ros2_control name="roboclaw_right" type="system">
      <hardware>
        <plugin>roboclaw_hardware_interface/RoboClawHardwareInterface</plugin>
        <param name="serial_port">${right_port}</param>
        <param name="serial_baud">${baud}</param>
      </hardware>

      <joint name="front_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <param name="address">128</param>
        <param name="motor_type">M1</param>
        <param name="qppr">${qppr}</param>
      </joint>

      <joint name="rear_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <param name="address">128</param>
        <param name="motor_type">M2</param>
        <param name="qppr">${qppr}</param>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>